html,body{
	background-color: #e0e0e0;
}
.navbar-header{
	background-color: #808080;
	padding: 10px;
}
h1{
	position:absolute;
	margin:0;
	top: 5px;
	left:10px;
	color:#34ebc9;
}
#header p{
	color: #000000;
}

.content{
	padding: 0;
}
.li-item{
	width: 100%;
  	border-bottom: 1px solid white;
  	display: block
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border:1px solid black;
}


@media (max-width: 767px){
	#collapsable-nav{
		background-color: #A9A9A9;
		font-size: 20px;
	}
}